# Dependencias de Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de entorno
.env

# Build
/build

# Archivos relacionados con el sistema operativo
.DS_Store
Thumbs.db

# Archivos relacionados con IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Otros
coverage/
